*.iml
# Gradle files
.gradle/
build/

# Local configuration file
/local.properties

# IntelliJ
.idea/

.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml

# 元からあった
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
